.moodfm_btn button.moodfm_btn button@charset "utf-8";
/** forum::index **/
#chart .y{ display:none;}/*隐藏右侧查看新帖*/
.fl_tb img{ -webkit-border-radius: 3px;-moz-border-radius: 3px;-ms-border-radius: 3px;-o-border-radius: 3px;border-radius: 3px;}/*板块图标加入圆角效果*/
#online{ margin-top:20px;}
#online strong{ font-weight:normal;}
.fl_g dt { font-weight: normal; font-size:18px; padding-bottom:5px;}
.lk_logo h5 { font-size:12px;}
.bm_h, .bm_c { padding:0;}
/*N格重定义*/
.frame, .frame-tab { border:none; clear:both; margin-bottom:0;}
.block { margin:0;}
.bbs_index_thum { width:450px;}
.frame-1-1 { position:relative;}
.frame-1-1-l { width:450px; position:absolute; top:0; left:0; float:none;}
.frame-1-1-r { margin-left:465px; width:auto; float:none;}
.frame-title, .frametitle, .tab-title { background:none;}
.frame-tab .tb { line-height:normal; padding-left:0; height:31px; border-bottom: 1px solid {COMMONBORDER};}
.frame-tab .tb li a { font-weight:normal; font-size:14px; height:31px; line-height:31px; border-bottom:1px solid {COMMONBORDER}}
.frame-tab .tb .a a { font-weight:normal; border-bottom:1px solid {MENUHOVERBGCOLOR}}
.frame-tab .tb-c { padding:10px 0;}
.ml li { text-align:left;}
.ml img { margin:0;}
.mls li { padding-bottom:10px;}
.member_thum { height:70px; overflow:hidden; margin-bottom:20px;}
/** end **/

/** forum::viewthread,portal::view,portal::comment,home::space **/
#nv_portal .vw .h, #nv_forum .vw .h { margin-left:0; margin-right:0; }
.vw .h { padding: 0 15px 15px 15px; text-align:left; background-color:{SPECIALBG}; border-top:1px solid #FFFFFF; border-bottom: 1px solid {COMMONBORDER}; }
.tdats .tfxf { width: 630px; }
/** end **/

/** forum::forumdisplay **/
.bm { border:none;}
.bm_c { padding:10px 0; }
.bml .bm_h { padding:0 0 10px 0;}
.bmw .bm_h { background-image:none; border-top:none;}
.bdl dl div a { height: auto; margin-bottom: 10px; margin-top: 10px;}
.bdl dd a { margin: 5px 3px;}
.xl2 li { height:1.6em;}/*版主推荐高度*/
#f_pst .bm_c { padding:20px 0;}
.boardnav .mn .bml { background-color: {SPECIALBG}; padding: 10px; border-left: 5px solid {SPECIALBORDER};}/*板块名称板块规则处修改*/
/*板块列表修改*/
.bdl { border-color:{SPECIALBORDER}}
.bdl dt { background-image:none; }
.bdl dd.bdl_a a { background:{HIGHLIGHTLINK}; color:#fff;}
/** end **/

/** forum::forumdisplay,forum::viewthread,forum::modcp,forum::collection,group,home::space,home::task,home::follow,search::forum,search::group,member::groupexpiry,misc::ranklist,misc::stat,misc::tag,forum::guide,portal::block **/
#pgt .pgb { display:none}/*隐藏返回*/
#pgt #fd_page_top { display:none;}/*隐藏列表页上面的翻页*/
/** end **/

/** home::spacecp,home::magic **/
.tdats .tfxf {width: 630px;}
/** end **/

/** home::space,misc::ranklist **/
.moodfm_btn button  {opacity: 100; filter:none;}

/** end **/

/** forum::modcp,forum::post,group::post,home::spacecp,portal::portalcp **/
.sadd { width:500px;}

/** end **/

/** search **/
#ft { width:auto;}
/** end **/




/** home::follow **/
.ct2_a .mn { padding-top:0; margin-right:0;}
#flw_header { padding:0;}
.bbs { border:none !important;}
.tb { margin-bottom:10px;}
.flw_avt { width:48px;}
.flw_avt img { margin-left:0;}
.flw_article { margin-left:50px; border-color:{COMMONBORDER}}
#flw_post_subject {width:auto;}/*发微播标题栏外宽度*/
#flw_header #subject { width:90%;}/*发微播标题栏内宽度*/
#flw_post_extra { width:100%}/*发微播内容栏宽度*/
.mbm { margin:5px 0 !important;}
#flw_header .area .pt { height:4.3em;}/*发微播高度*/
.sd { border-radius: 5px; background: {COMMONBG}; border:1px solid {COMMONBORDER}; }/*右侧收听资料样式*/
#flw_bar .fpd { width:200px;}/*转播框宽度*/
.flw_replybox { margin-left:50px; float:right; width:370px; background: {COMMONBG}; }/*转播框样式*/
.flw_replybox li { border-top-color:{COMMONBORDER};}
.flw_autopt { width:200px;}
.flw_quote { border-left: 3px solid {CONTENTSEPARATE}; padding:10px; margin-left:0; background-color:{COMMONBG}}/*引用样式*/
.bm_c { padding:0;}
#nv_menu{ top:300px;}
#fastpostsubmit { background:url({STYLEIMGDIR}/re/pn_follow.png)}

/** end **/





/** forum::index,forum::forumdisplay,home::space,forum::guide **/
/* 版块列表 by Pony 1203081623 */
.fl_row td { border-top: none; }
.fl_icn_g { width: 64px; }
.fl_g dl { margin-left: 64px; }
	.fl_g dt { margin-bottom: 5px; }
	.fl_g dd { margin-top: 3px; }
		.fl_g dd em { display: inline-block; margin-right: 10px; width: 70px; }
			.fl_g dd em span.t { display: inline-block; width: 35px; }
			.fl_g dd em.l { width: 140px; }

/* 帖子列表 by Pony 1204051535 */
.tl { border-radius: 0 0 5px 5px; }
	.tl .bm_c { padding: 0; }
	.tl th, .tl td { border-bottom-color: #E6E6E6; }
	.tl tr:hover th, .tl tr:hover td { background: #F7F7F7; }
	.bw0_all tr:hover th, .bw0_all tr:hover td { background: none; }
	.tl .th { padding: 0px; background: none; } /*by sing_did*/
	.tl tbody:last-child th, .tl tbody:last-child td { border-bottom: none; }
#threadlist.addradius { border-radius: 5px; }
	.addradius .th { border-radius: 5px 5px 0 0; }

	.tl .tf a { float: left; margin-right: 5px; padding: 5px 15px 4px; height: 18px; border-left:1px solid #026890; text-decoration:none; background-color: {SPECIALBORDER}; }
		.tl .tf a.a { background-color: #026890; color: #FFF; }
		.tl .tf a.a:hover { text-decoration: none; }
		.tl .tf .showmenu { background-image: url({STYLEIMGDIR}/arrwd.png); }
		.forumrefresh { background-position: 50% 50%; }

	.tl .xst, .newthread .new em, .newthread .new em a { font-family: {THREADTITLEFONT}; font-size: {THREADTITLEFONTSIZE} !important; }
	.tl th img { margin-bottom: 5px; }
	.tl .o { width: 30px; }
	.tl .avt { vertical-align: top; padding: 10px 0; width: 60px; } /*by sing_did*/
		.tl .avt img { /*margin-left: 15px;*/ } /*by sing_did*/
	.tl .by { padding-right: 15px; text-align: right; }

	.emptb th, .emptb td { padding: 0 !important; }

	.tl .tbmu { padding: 10px 15px; }
	.tl .pgbtn { margin: 5px 0 15px; } /*by sing_did*/
		.ie6 .tl .pgbtn, .ie7 .tl .pgbtn, .ie8 .tl .pgbtn { margin-top: 15px; }
	.tl .waterfall { margin-left: 10px; } /*by sing_did*/
/** end **/


/** forum::forumdisplay **/
#atarget { margin: 7px 0 0 7px; }
.imagemode, .txtmode { overflow: hidden; float: right; margin: 7px 0 0 7px; width: 16px; height: 16px; text-indent: -9999px; background: url({STYLEIMGDIR}/chk.png) no-repeat 0 -16px; outline: none; }
.imagemode { background-position: -16px -16px; }
	.ichked { background-position: -16px 0; }
	.tchked { background-position: 0 0; }
/** end **/


/** forum::forumdisplay,forum::viewthread,group::viewthread,forum::guide **/
/* 主题分类等 by Pony 1203311330 */
.ttp { margin-bottom: 0; } /*by sing_did*/
	.cttp .unfold, .cttp .fold { margin-right: -5px; }
	.ttp a, .ttp strong { border: none; background-color: transparent; border-radius: 5px; }
		.ttp a:hover { text-decoration: underline; }
	.ttp .a a, .ttp .a a:hover { background-color: #E0E0E0; color: {TABLETEXT}; }
		.ttp .a a:hover { text-decoration: none; }
	.ttp .pipe { width: 1px; background-color: {COMMONBORDER}; }
/** end **/